.drop-main{
    font-size: 1.5rem;
}
.drop-down{
    margin: 0 auto;
    align-content: center;
    max-width: 15rem;
    font-size: 2rem;
    background-color: transparent;
    .drop-main{
        font-size: 1.5rem;
        margin-bottom: 2rem;
        // background-color: orange;
    }
    .current-day{
        font-size: 1.5rem;
        // width:20rem;
        // min-width: 15rem;
        margin: 0 auto;
        background-color: rgb(255, 255, 173);
        color:black;
        border:brown;
    }
    .menu{
        align-content: center;

        margin: 0 auto;
        .actions{
            font-size:1.5rem;
        }
    }
    .actions{
        font-size: 1.5rem;

        align-content: center;

        justify-content: center;
        // background-color: red;
        font-size:1.5rem;
        margin: 0 auto;
    }
}
.months{

    background-color: rgb(255, 233, 37);
    border-color:transparent;
    color:black;
    margin-top: 2ßpx;
    margin-bottom: 20px;
    margin-right:10px;
    margin-left:10px;
    font-size: 1.5rem;
    h2{
        font-size:1.5rem;
        margin-top:-2rem;
    }
}