.go-back{
    background-color: rgb(255, 83, 52);
    border:0;
    margin-top:1rem;
    font-weight: 700;
    font-size:1.4rem;
}
.loading{
    margin-top:2rem;
.btn{
    // margin-top:14rem;
    margin-bottom:2rem;
    background-color: rgb(72, 167, 72);
    border-color:rgb(158, 236, 158);

    font-size:2rem;
    margin: 0 auto;
}
}