.receipt-store{
    margin-top: 4rem;
}

.stores{
    margin-right:0.2rem;
    margin-top:0.2rem;
    background-color: rgb(253, 246, 246);
    min-width: 10rem;
    color:orangered;
    font-weight: 700;

}