
.main-card{
    max-width: 30rem;

    display: block;
    align-content: center;


}
.tstamp{
    color:red;
    
}
.cancel-sale{
    margin-top:-14rem;
    margin-right:-20rem;
    // margin-bottom: 2rem;
    // max-width: 4rem;
    // max-height: 4rem;
    font-size:2rem;
}

