.sales-list-new{
    justify-content: center;
    align-self: center;
    margin-block-start:3rem;
    margin-left:20rem; 
    margin-bottom: 7rem;
}
.switch-store{
    min-width: 20rem;
    margin-bottom: 3rem;
    font-size:3rem;
    background-color: rgb(255, 147, 45);
    border:0;
}
.switch-store:hover{
    background-color: red;
}
.switch-store:active{
    background-color: red;
}

.not-yet{
    min-width: 15rem;
    margin-top: 20px;
    font-size: 1.2rem;
    color:black;
    background-color: rgb(255, 215, 178);
    border:0;
}