.container {
  .menu-container {
    margin-top: 50px;
  }

  .tagline {
    padding-top: 20px;
    font-weight: bold;
    font-style: italic;
  }
  .search {
    margin: 20px;
    .button {
      background-color: #577399;
    }
  }
}
.top{
  padding-right: 1rem;
  background-color: white;
  color:black;
  font-size:1rem;
  margin-right:1rem;
  margin-top:0.5rem;
}
.bruh-header{
   color:rgb(202, 30, 30);
  font-size:3rem;
  margin-bottom: -3rem;
  
}
// h3{
//   color:rgb(36, 33, 33);
//   font-size:3rem;
//   margin-bottom: -3rem;
// }
