.container {
  .menu-container {
    margin-top: 50px;
  }

  .tagline {
    padding-top: 20px;
    font-weight: bold;
    font-style: italic;
  }
  .search {
    margin: 20px;
    .button {
      background-color: #577399;
    }
  }
}
.top{
  padding-right: 1rem;
  background-color: rgb(250, 208, 71);
  border-color:rgb(255, 115, 0);
  color:rgb(37, 36, 35);
  font-weight:600;
  font-size:1.5rem;
  margin-right:1rem;
  margin-top:0.5rem;
}
.top-1{
  padding-right: 1rem;
  background-color: rgb(250, 137, 71);
  border-color:rgb(255, 115, 0);
  color:rgb(37, 36, 35);
  font-weight:600;
  font-size:1.5rem;
  margin-right:1rem;
  margin-top:0.5rem;
}
.top:hover{
  background-color:green;
}
.bruh-header{
   color:rgb(202, 30, 30);
  font-size:3rem;
  margin-bottom: .5rem;
  
}
// h3{
//   color:rgb(36, 33, 33);
//   font-size:3rem;
//   margin-bottom: -3rem;
// }
