.container {
  .menu-container {
    margin-top: 50px;
  }

  .tagline {
    padding-top: 20px;
    font-weight: bold;
    font-style: italic;
  }
  .search {
    margin: 20px;
    .button {
      background-color: #577399;
    }
  }
}
