.card-title{
    margin-top: 2rem;
    // margin-bottom:auto;
    margin-left:2rem;
    margin-right:auto;
    h5{
        color:green;
        font-size: 1.5rem;
    }
}

.card-price{
    margin-bottom: 2rem;
    margin-top:auto;
    // padding-bottom: 100px;
    // margin-top:-2rem;
    // margin-bottom:auto;
    h5{
        margin-bottom: auto;
        
        margin-top:-2rem;
        color:rgb(255, 174, 0);
    }
}
.edit-inv-card{
    margin-top:10px;
    .edit-card{
        // max-height:7rem;
        // height:10rem;
        height:10rem;

    }
    
}