.card-title{
    margin-top: 2rem;
    margin-left:2rem;
    margin-right:auto;
    h5{
        color:green;
        font-size: 2rem;
    }
}
.card-price{
    margin-bottom:-2rem;
    margin-top:auto;
    h5{
        margin-top: -2rem;
        color:rgb(255, 174, 0);
    }
}
.edit-inv-card{
    margin-top:10px;
    .edit-card{
        max-height:7rem;

    }
}