.report-card{
    min-width: 15rem;
    .BRUH{
        margin-top:-2rem;
        max-width: 15rem;
        margin-bottom:1rem;
        justify-content: center;
        align-self: center;
    }
    .rep-card-body{
        align-self: center;
    }
    .rep-sub-title{
        margin-top: 0rem;
        h2{
            font-size: 2rem;
        }
        h3{
            font-size: 1.2rem;
            color:rgb(255, 115, 0);
        }
    }
    .rep-title{
        font-size: 1.7rem;
        font-weight:900;
    }
  
    h4{
        font-size: 1rem;
    }
    h5{
        font-size:1rem;
    }
   
    .rep-transactions{

    }
}

.report-wzp{
    background-color:rgb(255, 198, 123);
    border-color:red;
    min-width: 16rem;
    margin-top:0rem;
    margin-left:2.2rem;
    margin-right:auto;
    h3{
        font-size: 1rem;
        font-weight: 800;
    }

}
