.report-card{
    min-width: 15rem;
    .BRUH{
        margin-top:-2rem;
    }
    .rep-card-body{
        align-self: center;
    }
    .rep-sub-title{
        margin-top: 0rem;
        h2{
            font-size: 1.4rem;
        }
        h3{
            font-size: 1.2rem;
            color:rgb(255, 115, 0);
        }
    }
    .rep-title{
        font-size: 1.7rem;
        font-weight:900;
    }
  
    h4{
        font-size: 1rem;
    }
    h5{
        font-size:1rem;
    }
   
    .rep-transactions{

    }
}

.report-wzp{
    background-color:rgb(255, 230, 198);
    min-width: 14rem;
    margin-top:-1rem;
    margin-left:3rem;
    margin-right:auto;
    h2{
        font-size: 1rem;
    }
    border:0;
}
