.report-card{
    min-width: 15rem;
    
    .BRUH{
        margin-top:-2rem;
        max-width: 15rem;
        margin-bottom:1rem;
        justify-content: center;
        align-self: center;
        h3{
            padding-block-start: 1px;
            margin-top:1rem;
            font-weight: 700;
        }
        .in-balance{
            color:green;
        }
        .balance-positive{
            color: rgb(255, 187, 0);
        }
        .balance-negative{
            color:red;
        }
        .balance{
            color:green;
            font-weight: 700;

        }
        .executive-balance{
            color:red;
           
            h4{
                color:red;
            }
        }

    }
    .rep-card-body{
        align-self: center;
    }
    .rep-sub-title{
        margin-top: 0rem;
        h2{
            font-size: 2rem;
        }
        h3{
            font-size: 1.2rem;
            font-weight: 700;
            color:green;
        }
    }
    .rep-title{
        font-size: 1.2rem;
        color:rgb(226, 102, 0);
        font-weight:40;
    }
  
    h4{
        font-size: 1rem;
    }
    h5{
        font-size:1rem;
    }
   
    .rep-transactions{

    }
}

.report-wzp{
    background-color:rgb(255, 177, 177);
    border-color:red;
    min-width: 16rem;
    margin-top:0rem;
    margin-left:0rem;
    margin-right:auto;
    h5{
        font-size: 0.7rem;
        font-weight: 800;
    }

}
