.section-header {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  h5{
    color: rgba(63, 62, 51, 0.945);
    font-size: 3rem;
  }
  div {
    margin-top: 5px;
    margin-left: 15px;
  }
}
