.checkout-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  justify-content: center; 
  img {
       align-self: center;
    margin: 2rem 1.3rem 2rem 1.3rem;
    width: 10rem;
  }
  .bruh{
    color:red;
    margin-top:-6rem;
    background-color: white;
  }
  .button {
    margin-top:1rem;
    margin-bottom:5rem;
    background-color: #46aa03;
    font-weight: 600;
    font-size:3rem;
    border: #011627;
    min-height:6rem;
  }
  .button:hover {
    background-color: #013057;
  }
  .button-cancel{
    background-color:rgb(253, 73, 2);
    color:rgb(255, 203, 166);
    // color:white;
    border:0;
    max-height:7rem;
    min-width:13rem;
    font-size:4rem;

  }

  .button-secondary {
    padding-left:2rem;
    margin-left:2rem;
    border:red;
    background-color: rgb(238, 226, 174);
    font-size: 6rem;
    color: #011627;
  }
  .button-secondary:hover {
    border-color: #014073;
    background-color: transparent;
    
  }
  .pill{
    margin-top:10px;
  }
  .order-summary{
    margin-top:-1rem;
    padding-bottom: 15px;
    .button-secondary{
      max-height:7rem;
      min-width:13rem;
      font-size:4rem;
    }
    .pill{
      margin-top:10px;
    }
    
    .cash{
      background-color:red;
    }
  }
}
.pillyboy{
  style:pill;
  margin-top:10px;
}
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  padding-top:20px;
  color: #2b2b2b;
}
.shipping-info {

  .simple-pay{
    margin-block-start: 0.5rem;
    margin-block-end:0.5rem;
    margin-inline: 1rem;
    // margin-right:200px;
    // margin-left:4rem;
    background-color: rgb(252, 166, 105);
    border:red;
  }
  h1{
    color:rgb(17, 19, 16);
    font-weight: 1000;
    font-size:4rem;
  }
  .card {
    padding: 40px;
  }
  .input {
    margin-top: 20px;
    margin-bottom:1.5em;
    font-size:2.7rem;
  }
  h4{
    font-size:2.4rem;

  }
  .inputExpe{
    margin-top: 15px;
    margin-bottom:1.5em;
    font-size:2.7rem;
    min-width: 20rem;
    min-height:4rem;
  }

}




.finalize{
  justify-content: center;
  align-self: center;
  margin-bottom:5rem;
  .next{
    background-color: #FD6A02;
    border:0;
    color: white;
    font-size:3rem;
    font-weight: 1000;
  }
  .h4{
    color: rgb(128, 26, 0);
  }
  .save-btn{
    align-self: center;
    margin-left:0rem;

    margin-bottom:2rem;
  }
}
.save-btn{
  display: inline-block;
  align-self: center;
  font-weight:1000;
  max-width:10rem;
  font-size:2.4rem;
  margin-bottom: 20rem;
  margin-inline-start: 2rem;

}
