.checkout-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  .button {
    background-color: #011627;
    font-weight: 600;
    border: #011627;
  }
  .button:hover {
    background-color: #013057;
  }

  .button-secondary {
    border-color: #011627;
    color: #011627;
  }
  .button-secondary:hover {
    border-color: #014073;
    background-color: transparent;
  }
}
.img-header{
  padding-bottom: 1.5625rem;
    background-color: #f7f7ff;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    border-bottom: dashed 1px #577399;
  
    img {
      margin: 2rem 1.3rem 1rem 1.3rem;
      width: 10rem;
    }
}
.drop-down{
  caption-side:"#fffff";
  color: #df8600;
  .button{
    background-color: #f75a1c;
    font-weight: 600;
  }
  .button:hover{
    background-color: #e94605;
    font-weight: 600;
  }
  .dir{
    background-color: #f1db15;
    font-weight: 600;
    border: #011627;
  }
  .dir:hover{
    background-color: #dfc900;
    font-weight: 600;
    border: #011627;
  }
  display:inline-block;
  margin-block-start: 10px;
  margin-inline-start: 5px;
  margin-block-end: 2px;
}
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  color: #2b2b2b;
}
.payment{
  display: inline;
  .cash{
    display: inline;
  }
  .card{
    display: inline;
  }
}
.shipping-info {
  .card {
    padding: 40px;
  }
  .input {
    margin-top: 20px;
  }
}
