.main{
}

.save-1{
    min-width: 17rem;
    margin-block-start: 0.5rem;
    margin-inline-end: 1.2rem;
    font-size:5rem;
    margin-bottom:20px;
}
.input-Edit {
    margin-top: 20px;
    margin-bottom:1.5em;
    font-size:2.7rem;
    min-width: 20rem;
    min-height:4rem;
  }
  .detail{

    h3{
        color: rgb(204, 99, 0);
        justify-content: flex-start;
        font-weight: 800;
        font-size:2rem;
        margin-left:-50rem;
        margin-right:auto;
        margin-top:-4rem;

        // margin-left:auto;
        // margin-right:auto;
    }

  }