.save-1{
    font-size:6rem;
    min-width: 7rem;
    margin-block-start: 0.5rem;
    margin-inline-end: 1.2rem;
}
.save{
    font-size:2rem;
    min-width: 3rem;
    // margin-block-start: 0.5rem;
    // margin-inline-end: 1.2rem;
}
.status{
    margin-inline-start: 0.5rem;
    font-size:3rem;
}