.pdf-module{
    margin-top:2rem;
    .create-pdf{
        background-color:rgb(255, 104, 104);
        font-size:1.8rem;
        border:transparent;
    }
    .waiting-pdf{
        background-color:rgb(255, 163, 163);
        color:black;
        font-size:1.8rem;
        border:transparent;
    }
    .download-pdf{
        background-color:rgb(255, 21, 0);
        font-size:1.7rem;
        border:transparent;
    }
}