.App {
  text-align: center;
}

.App-header {
  padding-bottom: 1.5625rem;
  background-color: #f7f7ff;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: dashed 1px #577399;
  margin-bottom:2rem;

  img {
    margin: 2rem 1.3rem 1rem 1.3rem;
    width: 10rem;
  }

}
.App-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    justify-content: center;
    width: 100%;
    // margin-right:2rem 6rem 1rem 4rem;
  }
}
.App-link {
  color: #61dafb;
}

.fixed-checkout {
  background-color: #ffffff;
  position: fixed;
  bottom: 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;

  .checkout-button {
    width: 100%;
    background-color: #4cc00a;
    font-weight: 600;
    border: #011627;
  }
  .checkout-button:hover {
    background-color: #013057;
  }
}
.App-footer{
  background-color: #f7f7ff;
  max-height: 20vh;
  margin-top: 500px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-top: dotted 1px #995b57;
}
