p{
  font: 1%;
}

.drop-down{
    caption-side:"#fffff";
    color: #df8600;
    display:block;

    .button{
      background-color: #f3260b;
      border-color: #ffffff;
      font-weight: 600;
      margin-bottom:5px;
      font-size: 80%;

    }
    .button:hover{
      background-color: #f14804;
      border-color: #eb2727;
      font-weight: 600;
    }
    .dir{
      background-color: #050401;
      font-weight: 600;
      border: #011627;
      margin-block-start: 1px;
      margin-block-end: 10px;
      margin-bottom:20px;
      font-size: 80%;
    }
    .dir:hover{
      background-color: #df3f00;
      font-weight: 600;
      border: #011627;
    }
    // display:inline-block;
    margin-block-start: 5px;
    // margin-inline-start: 5px;
    margin-block-end: 2px;
  }
  .see-menu{
      
      background-color: #4cc00a;
      border-color: #ffffff;
      font-weight: 600;
      margin-block-start: 1px;
      margin-block-end: 10px;
      font-size: 70%;
  }